#root {
  width: 100%;

  @media all and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }

  @media all and (min-width: 768px) and (max-width: 1199px) {
    padding: 0px 60px;
  }

  @media all and (max-width: 767px) {
    padding: 0px 25px;
  }
}
